/* Styles for the about page */



.welcome-section {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
}

.welcome-section h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}


.welcome-section:hover {
  transform: scale(1.05);
}

/* Styles for smaller screens */
@media (max-width: 768px) {
  .welcome-section {
    padding: 10px;
  }
  
  .welcome-section h1 {
    font-size: 2rem;
  }
}
