.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.cool-image {
    width: 100rem;
    max-width: 800px;
    height: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #ddd;
    border-radius: 4px;
    
}

.visible {
    z-index: 1;
}

.hidden {
    z-index: 0;
}

.cool-image img {
    
    
    
    
   

}

.cool-image img:nth-child(1) {
    animation: slide 20s linear infinite;
    
}