/* Styles for the rental page */


.headerWrapper {
    text-align: center;
    margin-top: 40px;
}

.sales-container {

    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

.property-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    text-decoration: none;
    color: #333;
    transition: transform 0.2s;
}

.property-card:hover {
    transform: translateY(-5px);
}

.property-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.property-title {
    font-size: 24px;
    margin: 10px 0;
}

.property-description {
    font-size: 16px;
    margin-bottom: 10px;
}

.property-details {
    font-size: 14px;
    color: #666;
}

/* Responsive styles for screens with a maximum width of 760px */
@media (max-width: 760px) {
    .sales-container {
        display: block;
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
}