/* RentalsPage.css */


.headerWrapper {
    text-align: center;
}

.rentals-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    
}


.property-card {
    flex: 1;
    max-width: calc(25% - 20px);
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}


.property-image img {
    max-width: 100%;
    height: auto;
}


.property-details {
    margin-top: 10px;
}

/* Media query for small screens */
@media (max-width: 768px) {

    
    .rentals-container {
        flex-direction: column;
    }

    .property-card {
        max-width: 100%;
        
    }
}