/* Reset some default margin and padding */
body,
h1,
h2,
p {
    margin: 0;
    padding: 0;
}

/* Apply a box-sizing border-box model to all elements */
*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Main container styling */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Styling for the sales container on the left */
.sales-container {
    max-width: 400px;
    margin-bottom: 20px;
}

.sales-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.sales-container p {
    font-size: 14px;
    color: #666;
}

/* Styling for the inline-wrap on the right */
.inline-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    max-width: 800px;
    /* Adjust as needed */
}

.property-card {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.property-card:hover {
    transform: scale(1.05);
}

.image-wrapper {
    position: relative;
    overflow: hidden;
}

.property-image {
    width: 100%;
    height: auto;
    display: block;
}

.property-title {
    margin: 10px 0;
    font-size: 16px;
}

.property-details {
    color: #666;
    font-size: 14px;
}

/* Optional: Add styles for the Link if needed */

/* Responsive styling */
@media (max-width: 768px) {
    .container {
        flex-direction: column-reverse;
    }

    .sales-container,
    .inline-wrap {
        width: 100%;
        margin-right: 0;
    }
}
/*
.container {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.sales-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
}



.view-all-button {

    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    size:20px;
}
.inline-wrap {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    flex-direction: row;
}

.property-card {
    border: none;
    border-radius: 0;
    overflow: hidden;
}

.image-wrapper {
    position: relative;
    overflow: hidden;
}

.property-image {
    width: 100%;
    height: auto;
    display: block;
}

.property-title {
    margin: 10px 0;
}

.property-details {
    color: #666;
}

*/