/* SalesPage.css */

.property-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    /* Distribute items evenly horizontally */
}

.property-item {
    border: 1px solid #ccc;
    padding: 20px;
    width: calc(25% - 20px);
    /* Adjust the width based on your design */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
}

.property-item:hover {
    transform: scale(1.02);
}

.property-item a {
    text-decoration: none;
    /* Remove underlines from the links */
    color: inherit;
    /* Inherit the text color from the parent */
}

.property-image img {
    max-width: 100%;
    height: auto;
}

.property-details {
    margin-top: 10px;
}