@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Fauna+One&family=Inconsolata:wght@500&family=Montserrat:wght@500&family=Oswald:wght@300;600&family=Public+Sans&family=Roboto+Mono:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
}

/*
:root {
    --primary-color: hsl(199, 100%, 33%);
    --secondary-color: hsl(187, 85%, 43%);
    --gradient-color: linear-gradient(to right, hsl(199, 100%, 33%), hsl(187, 85%, 43%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColorDeam: hsl(0, 0%, 100%, 0.5);
    --greyText: rgb(190, 190, 190);
    --inputColor: hs(239, 239, 239);
    --bodyColor: rgb(240, 240, 246);
    --cardBG: rgb(225, 225, 235);

}
*/

